@{
    ViewData["Title"] = "Blog";
}

@* <section class="blog-section">
	<div class="container">
		<div class="text-center">
			<div class="column is-8">
				<div class="blog-column">
					<div class="blog-title">

					</div>
					<div class="blog-img">

					</div>
					<div class="blog-description">
						<p>Dzisiaj mamy ogromną radość ogłosić najnowszą i jedną z największych aktualizacji naszej platformy do nauki programowania! Przez ostatnie miesiące pracowaliśmy nieustannie, aby dostarczyć Wam jak najlepszą jakość naszych materiałów edukacyjnych.</p>
						<p>Wprowadziliśmy znaczące poprawki w jakości naszych tutoriali. Nasz zespół przeanalizował i zaktualizował treści, aby zapewnić Wam jeszcze lepsze i bardziej zrozumiałe materiały edukacyjne. Teraz nasze kursy są jeszcze bardziej klarowne i skoncentrowane na kluczowych zagadnieniach. Zależy nam na tym, abyście mogli skutecznie przyswajać wiedzę i rozwijać się jako programiści.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> *@


<h1 class="h1-design">Znajdź swój ulubiony temat</h1>

<div class="container mt-5 big-padding">
    <div class="row gy-5">
        <!-- Card item START -->
        <div class="col-sm-6">
            <div class="blog-card">
                <div class="top-blog-section w-100 d-flex">
                    <div class="w-100">
                        <a href="https://localhost:7249/Word/Spanish" class="badge big-margin-right text-bg-danger mb-2"></i> <img class="badge-flag-icon" src="/img/icons/spain_flag.png"></img>Hiszpański</a>
                    </div>
                    <div class="w-100 minread">
						<p>8 min czytania</p>
                    </div>
                </div>
                <div class="position-relative">
                    <img class="blog-card-img" src="/img/others/Baner_flamenco.png" alt="Card image">
                </div>
                <div class="card-body px-0">
                    <h3 class="card-title"><a href="/Blog/Post4" class="btn-link stretched-link text-reset fw-bold">Hiszpańska Melodia Nauki</a></h3>
                    <p class="card-text">Muzyka i taniec to nie tylko rozrywka, ale także doskonałe narzędzia do nauki nowego języka. Pozwól hiszpańskiemu rytmowi zanurzyć Cię w fascynującą podróż nauki!</p>
                    <ul class="nav align-items-center d-flex">
                        <li class="nav-item">
                            <div class="d-flex me-2 align-items-center position-relative">
                                <div class="">
                                    <img class="small-icon-custom" src="~/img/icons/Logo.png" alt="avatar">
                                </div>
                                <span>by <a href="../Home" class="stretched-link text-reset text-decoration-none btn-link">HexaLingo</a></span>
                            </div>
                        </li>
                        <li class="nav-item blog-date-time">Lis 27, 2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Card item START -->
        <div class="col-sm-6">
            <div class="blog-card">
                <div class="top-blog-section w-100 d-flex">
                    <div class="w-100">
                        <a href="https://localhost:7249/Word/Italianish" class="badge big-margin-right text-bg-success mb-2"></i> <img class="badge-flag-icon" src="/img/icons/italy_flag.png"></img>Włoski</a>
                    </div>
                    <div class="w-100 minread">
                        <p>6 min czytania</p>
                    </div>
                </div>
                <div class="position-relative">
                    <img class="blog-card-img" src="/img/others/Baner_pizza.png" alt="Card image">
                </div>
                <div class="card-body px-0">
                    <h3 class="card-title"><a href="/Blog/Post3" class="btn-link stretched-link text-reset fw-bold">Kulinarne Eksploracje Włoskie</a></h3>
                    <p class="card-text">Zapraszam cię na smakowitą kulinarną podróż po Włoszech. Odkryjemy bogactwo słownictwa związane z włoską kuchnią. Gotowi na uczucie smaku słów?</p>
                    <ul class="nav align-items-center d-flex">
                        <li class="nav-item">
                            <div class="d-flex me-2 align-items-center position-relative">
                                <div class="">
                                    <img class="small-icon-custom" src="~/img/icons/Logo.png" alt="avatar">
                                </div>
                                <span>by <a href="../Home" class="stretched-link text-reset text-decoration-none btn-link">HexaLingo</a></span>
                            </div>
                        </li>
                        <li class="nav-item blog-date-time">Lis 20, 2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Card item START -->
        <div class="col-sm-6">
            <div class="blog-card">
                <div class="top-blog-section w-100 d-flex">
                    <div class="w-100">
                        <a href="https://localhost:7249/Word/English" class="badge big-margin-right text-bg-info mb-2"></i> <img class="badge-flag-icon" src="/img/icons/eng_flag.png"></img>Angielski</a>
                    </div>
                    <div class="w-100 minread">
                        <p>7 min czytania</p>
                    </div>
                </div>
                <div class="position-relative">
                    <img class="blog-card-img" src="/img/others/Baner_book.png" alt="Card image">
                </div>
                <div class="card-body px-0">
                    <h3 class="card-title"><a href="/Blog/Post2" class="btn-link stretched-link text-reset fw-bold">Piękno Angielskiej Literatury</a></h3>
                    <p class="card-text">Dzisiaj podążamy ścieżką literackiego bogactwa języka angielskiego, odkrywając znane cytaty i frazy, które nie tylko zainspirują waszą duszę, ale także poszerzą horyzonty waszej wiedzy językowej.</p>
                    <ul class="nav align-items-center d-flex">
                        <li class="nav-item">
                            <div class="d-flex me-2 align-items-center position-relative">
                                <div class="">
                                    <img class="small-icon-custom" src="~/img/icons/Logo.png" alt="avatar">
                                </div>
                                <span>by <a href="../Home" class="stretched-link text-reset text-decoration-none btn-link">HexaLingo</a></span>
                            </div>
                        </li>
                        <li class="nav-item blog-date-time">Lis 13, 2023</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Card item START -->
        <div class="col-sm-6 big-margin-bottom">
            <div class="blog-card">
                <div class="top-blog-section w-100 d-flex">
                    <div class="w-100">
                        <a href="https://localhost:7249/Word/Germanish" class="badge big-margin-right text-bg-warning mb-2"></i> <img class="badge-flag-icon" src="/img/icons/ger_flag.png"></img>Niemiecki</a>
                    </div>
                    <div class="w-100 minread">
                        <p>9 min czytania</p>
                    </div>
                </div>
                <div class="position-relative">
                    <img class="blog-card-img" src="/img/others/Baner_boy.png" alt="Card image">
                </div>
                <div class="card-body px-0">
                    <h3 class="card-title"><a href="/Blog/Post1" class="btn-link stretched-link text-reset fw-bold">Odkrywanie Niemieckich Mądrości</a></h3>
                    <p class="card-text">Dziś skierujemy nasze kroki ku bogactwu niemieckiego języka, zgłębiając tajniki najbardziej popularnych powiedzeń i przysłów. To nie tylko podróż słowami, ale również w fascynujący świat niemieckiej kultury i mądrości ludowej.</p>
                    <ul class="nav align-items-center d-flex">
                        <li class="nav-item">
                            <div class="d-flex me-2 align-items-center position-relative">
                                <div class="">
                                    <img class="small-icon-custom" src="~/img/icons/Logo.png" alt="avatar">
                                </div>
                                <span>by <a href="../Home" class="stretched-link text-reset text-decoration-none btn-link">HexaLingo</a></span>
                            </div>
                        </li>
                        <li class="nav-item blog-date-time">Lis 6, 2023</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
            document.addEventListener("DOMContentLoaded", function () {
            // Pobierz przycisk, styl arkusza CSS i ikonę dark mode
            const toggleDarkModeButton = document.getElementById("toggleDarkMode");
            const darkModeStylesheet = document.getElementById("darkModeStylesheet");
            const darkModeIcon = document.getElementById("darkModeIcon");

            // Dodaj obsługę kliknięcia przycisku
            toggleDarkModeButton.addEventListener("click", function () {
                // Przełącz klasę na body, aby włączyć/wyłączyć tryb ciemny
                document.body.classList.toggle("dark-mode");

                // Zmień ikonę w zależności od aktualnego trybu
                const isDarkModeEnabled = document.body.classList.contains("dark-mode");
                if (isDarkModeEnabled) {
                    darkModeIcon.src = "/img/icons/light_mode.png";
                } else {
                    darkModeIcon.src = "/img/icons/dark_mode.png";
                }

                // Zapisz preferencje użytkownika w lokalnym składowisku
                localStorage.setItem("darkModeEnabled", isDarkModeEnabled);
            });

            // Sprawdź preferencje użytkownika w lokalnym składowisku
            const isDarkModePreferred = localStorage.getItem("darkModeEnabled") === "true";

            // Jeśli preferencje wskazują na tryb ciemny, włącz go domyślnie
            if (isDarkModePreferred) {
                document.body.classList.add("dark-mode");
                darkModeIcon.src = "/img/icons/light_mode.png";
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            var navbarToggle = document.querySelector('.navbar-toggle');
            var navbarMenu = document.querySelector('.navbar-menu');

            navbarToggle.addEventListener('click', function () {
                navbarToggle.classList.toggle('active');
                navbarMenu.classList.toggle('active');
            });
        });

    </script>
</div>